
*{
  margin: 0 ;
  padding: 0 ;
  border: 0 ;
}
.center{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.textCenter{
  text-align: center;
}

.card{
  width: 20rem;
  height: auto;
  background-color: rgb(70, 70, 109);
  color: white;
  display: block;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 2rem ;
  border-radius: 10px;
  padding: 2rem ;
  text-align: center;
}

.card input{
  border-radius: 4px;
  padding: 5px ;
  margin: 1rem;
}

.card p{
  margin-bottom: 0.5rem;
}

button{
  border-radius: 4px;
  padding: 5px 15px ;
  margin: 1rem;
  background-color: rgb(20, 8, 41);
  color: white;
  text-transform: uppercase;
}

input::placeholder{
  color: rgba(40, 0, 134, 0.603);
  text-align: center;
}

.card .title{
  padding-bottom: 0.2rem;
}

.warning{
  font-style: italic;
}

.changePass{
  width: 24rem;
}

.changePass p{
  color: rgba(97, 105, 105, 0.644);
  padding-top: 0.5rem;
  cursor: pointer;
}

.changePass input{
  border-radius: 4px;
  padding: 5px ;
  border-color: rgba(40, 0, 134, 0.603);
  border: 1px;
  border-style: solid;
  width: 95%;
}

.flex{
  display: flex !important;
  flex-wrap: wrap;
}

.buttons{
  justify-content: space-around !important;
}

